

NET "IBERT_SYSCLOCK_I_p" LOC = AD12;
NET "Q3_CLK0_MGTREFCLK_P" LOC = G8;
NET "X0Y12_RX_P_IPAD" LOC = E4;
NET "X0Y12_TX_P_OPAD" LOC = D2;
NET "X0Y13_RX_P_IPAD" LOC = D6;
NET "X0Y13_TX_P_OPAD" LOC = C4;
NET "X0Y14_RX_P_IPAD" LOC = B6;
NET "X0Y14_TX_P_OPAD" LOC = B2;
NET "X0Y15_RX_P_IPAD" LOC = A8;
NET "X0Y15_TX_P_OPAD" LOC = A4;

# PlanAhead Generated IO constraints 

NET "IBERT_SYSCLOCK_I_p" IOSTANDARD = LVDS;
